body{
	background: url(../img/main_bg.jpg) no-repeat center bottom;
}
*{
	margin:0;
	padding:0;
}                
li{
	display:inline-block;
	list-style: none;
	font-family: "Arial","Microsoft YaHei","\u5b8b\u4f53", Tahoma, Geneva, sans-serif;	
}
#headtop2 li a{
	font-size: 13px;
	color:#cad3d4;
	line-height: 35px;
	text-decoration:none;
}
#headtop:before{
	content: "";
    position: fixed;
    top: -5px;
    width: 100%;
    height: 5px;
    box-shadow: 0px 0px 10px rgba(0,0,0,.8);
}	
#headtop{
	background-color: #3e8b94;
	width: 1349px;
	height: 35px;
	box-shadow: 0 -2px 0 rgba(0,0,0,.8);
}
#headtop2{
	width: 1100px;
	height: 35px;
	margin: 0 auto; 
}
#headtop2 ul{
	margin-top: 0;
	width: 370px;
}
#topleft{
	float: left;
	width: 284px;
	height: 35px;
}
#topleft li a{
	padding-left: 12px;		
}
#topleft li{
	margin-left: 6px;
	text-indent: 12px;
}
#topleft #li1{
	background: url(../img/link_icon2.png) 0.01px 9px no-repeat;
}
#topleft #li2{
	background: url(../img/link_icon1.png) 0.01px 9px no-repeat;
}
#topleft #li3{
	background: url(../img/link_icon3.png) 0.01px 9px no-repeat;
}
#topleft #li4{
	background: url(../img/link_icon4.png) 0.01px 9px no-repeat;
}
/*顶部右盒子*/
#topright{
	float: right;
	width: 370px;
	height: 35px;
}
#topright li{
	margin-left: 4px;	
}
#header{ 
	width:1349px;
	height: 126px;
	background: url(../img/head_bg.jpg) center top;
}
#header2{
	width:1100px;
	height: 115px;
	margin:0 auto;
}
#logo{
	width: 467px;
	height: 115px;
	float: left;
}
#logo img{
	padding-top: 20px;
}
#searchbox{
	width: 367px;
	height: 40px;
	float: right;
	position: relative;
}
#searchbox #boxer{
	width:40px;
	height:40px;
	background:#10959e url(../img/search.png) no-repeat center;
	position: absolute;
	top: 0;
	right: 0;
	margin-top: 33px;
	cursor: pointer;
}
#searchbox img{
	padding-top: 31px;
}
#nav2{
	width:1100px;
	height:45px;
	margin:0 auto;
}

#nav{
	background-color: #005E60;
	width: 1349px;
	height: 45px;
}
#nav2 li{
	width: 64px;
	height: 45px;
	padding-left:21px;
	padding-right:21px;
}
#nav2 #firstli{
	width:40px;
	height: 45px;
	padding-left:24px;
	padding-right:24px;
}
#nav li a{
	font-size: 16px;
	color:#fff;
	line-height: 46px;
	text-decoration:none;
}
#nav2 .sublist a{
	font-size: 14px;
	line-height: 40px;
	color: rgb(216,216,216);
}
.mainlist{
	position: relative;
}
.mainlist ul{
	position: absolute;
	left: 0;
	top:45px;
	background-color: rgba(8, 10, 13, 0.7);
	display: none;
}
#nav2 li.sublist{
	width: 100px;
	height: 40px;
	transition: 0.6s;
}
#banner{
	width: 1349px;
	height: 370px;
	text-align: center;
	margin-bottom: 22px;
}
#banner img{
	width: 1100px;
	height: 370px;
}
#container1{
	width: 1349px;
	height: 560px;
}
#container12{
	width: 1100px;
	height: 560px;
	margin: 0 auto;
}
#container12 .more{
	float: right;
}
#container12 a{
	text-decoration:none;
}
#con12left{
	width: 655px;
	height: 520px;
	float:left;
}
#con12left #news{
	width: 655px;
	height: 48px;
	border-bottom: 2px solid #f6810d;
}
#newsleft{
	float: left;
}
#newsright{
	float: right;
}
#newsleft img{
	width: 270px;
	height: 180px;
}
.maintitle{
	line-height: 48px;
	float:left;
	font-size: 17px;
	color: #424242;
}
.subtitle{
	font-size: 16px;
}
.more{
	line-height: 48px;
}
.more a{
	font-size: 14px;
	color:#666;
}
#newscontent1{
	width: 655px;
	height: 197px;
	padding-top: 13px;
	padding-bottom: 8px;
}
#newsright1{
	width: 385px;
	height:54px;
	background-color: #00707a;
	text-align:center;
	padding-top:3px;
}
#newsright1 a{
	color:#fff;
}
#newsright2{
	width: 385px;
	height:119px;	
}
#newsright2 p{
	font-size: 14px;
	color: #817d7d;
	line-height:26px;
	padding:15px 5px 0 5px;
}
#newscontent2{
	width: 655px;
	height: 251px;
}
#newscontent2 li{
	list-style: none;
	width: 655px;
	height: 35px;
	line-height: 35px;
}
.date{
	float:right;
	display: inline-block;
	line-height: 35px;
	font-size: 15px;
	color:#9C9C9C;
}
#container1 li a{
	font-size: 15px;
	color:#333;
}
#con12right{
	width: 400px;
	height:517px;
	float:right;
}
#righttop #notice{
	width: 400px;
	height: 48px;
	border-bottom: 2px solid #f6810d;
}
#righttop #noticecontent1{
	width: 400px;
	height: 70px;
}
#righttop #noticecontent2{
	width: 400px;
	height: 146px;
}
#rightbottom #media{
	width: 400px;
	height: 48px;
	border-bottom: 2px solid #f6810d;
}
.newsdate{
	width: 64px;
	height: 52px;
	background-color: #EDB700;
	float: left;
}
.newsdetail{
	float:right;
	background-color: #f0f0e5;
	width: 336px;
	height: 52px;
}
.newsdetail a{
	padding-left: 18px;
	padding-top:4px;
	color:#333;
	display: inline-block;
	width: 310px;
	height: 40px;

}
.newsmonth{
	font-size: 13px;
	text-align:center;
}
.newsday{
	font-size: 22px;
	text-align:center;
}
#noticecontent1{
	padding-top: 13px;
}
#mediacontent1{
    padding-top: 13px;
    margin-bottom: 62px;

}
#noticecontent2 li{
	list-style: none;
	width: 400px;
	height: 35px;
	line-height: 35px;
}
#mediacontent2 li{
	list-style: none;
	width: 400px;
	height: 35px;
	line-height: 35px;

}
.el a{
	width: 288px;
	height: 35px;
	display: inline-block;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space:nowrap;
}


#container2{
	width: 1349px;
	height: 266px;
}
#container22{
	/*background-color: green;*/
	width: 1150px;
	height: 266px;
	margin: 0 auto;
}
#container22 div a{
	font-size: 18px;
	color:#333;
	text-decoration:none;
}
#container22 .box{
	width: 264px;
	height: 247px;
	margin-right: 16px;
	float: left;
}
#container22 #box1{
	margin-left: 16px;
}
.small{
	width: 266px;
	height: 77px;
	margin-bottom: 8px;
	background-color: #f0f0e5;
	text-align:center;
	line-height: 65px;
	position: relative;
}
.large{
	width: 266px;
	height: 160px;
	margin-bottom: 8px;
	background-color: gray;
	text-align:center;
	line-height: 185px;
	position: relative;
}
#container22 .large a{
	color:#fff;
}
#large1{
	background-color: #00707a;
}
#large2{
	background-color: #e19e35;
}
.small a{
	display: inline-block;
	position: absolute;
	left: 110px;
	top:5px;
}
.large a{
	display: inline-block;
	position: absolute;
	left: 142px;
	top:-12px;
}
.small .icon{
	background: url(../img/icon.png);
	display: inline-block;
	width: 68px;
	height: 55px;
	position: absolute;
	left: 38px;
	opacity: 0.6;
}
.large .icon{
	background: url(../img/icon.png);
	display: inline-block;
	width: 115px;
	height: 122px;
	position: absolute;
	left: 38px;
	opacity: 0.6;
}
#small2 .icon{
	background: url(../img/icon.png) -121px 3px;
}
#small3 .icon{
	background: url(../img/icon.png) -237px 3px;
}
#small4 .icon{
	background: url(../img/icon.png) -370px 3px;
}
#small5 .icon{
	background: url(../img/icon.png) -495px -1px;
	height: 65px;
}
#small6 .icon{
	background: url(../img/icon.png) -625px 5px;
	height: 65px;
}
#small7 .icon{
	background: url(../img/icon.png) -742px 1px;
	height: 65px;
}
#small8 .icon{
	background: url(../img/icon.png) -860px 3px;
}
#large1 .icon{
	background: url(../img/icon.png) -980px 24px;
}
#large2 .icon{
	background: url(../img/icon.png) -1100px 30px;
}
#container3{
	width: 1349px;
	height: 205px;
}
#container32{
	width: 1108px;
	height: 205px;
	margin: 0 auto; 
}
#container32 h3{
	font-size: 17px;
	color: #424242;
	margin-top: 6px;
	margin-bottom: 20px;
}
#site{
	font-size: 0;
	text-align:center;
}
#container32 #site a{
	display: inline-block;
	width: 221.6px;
	height: 88px;
	font-size: 16px;
	color: #fff;
	text-decoration:none;
	text-shadow: 1px 2px 2px #000;
	line-height: 88px;

}
#site1{
	background-color: #e19e35;
}
#site2{
	background-color: #28828a;
}
#site3{
	background-color: #363c6b;
}
#site4{
	background-color: #566175;
}
#site5{
	background-color: #7f307e;
}
#footer{
	background:url(../img/foot_bg.jpg) no-repeat center center;
	width: 1349px;
	height: 135px;
}
#footer2{
	width: 1100px;
	height: 135px;
	margin:0 auto;
	overflow: hidden;
}
#footleft{
	width: 355px;
	height: 91px;
	margin-top: 38px;
	float: left;
}
#footleft p{
	color: #a3bdc0;
	font-size: 13px;
	font-family: "Arial","Microsoft YaHei","\u5b8b\u4f53", Tahoma, Geneva, sans-serif;
	margin-bottom: 1px;
	padding-bottom: 2px;
}
#footleft a{
	text-decoration: none;
	color: #a3bdc0;
}
#footright{
	overflow: hidden;
}
.code{
	width: 120px;
	height: 101px;
	float: right;
	text-align: center;
	margin-top: 14px;
}
.code span{
	font-size: 14px;
	color: #a3bdc0;
}
#footbottom{
	background-color: white;
	width: 1349px;
	height: 82px;
}
#footbottom2{
	margin:0 auto;
	width: 80px;
	height: 80px;
}
